<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <script href = "views/js/main.js"></script>
        <style src="views/css/style.css"></style>
    </head>

    <body>
        <h1>Hello World! I am Musicle!</h1>
        <h2>La la la</h2>
    </body>

    <footer>

    </footer>
</html>